<header class="cover bg-top bg" style="background-image: url('{{ .Site.Params.featured_image }}');">
  <div class="{{ .Site.Params.cover_dimming_class | default "bg-black-60" }}">
    {{ partialCached "site-navigation.html" .}}
    <div class="tc-l pv6 ph4">
      <h1 class="f1 f-subheadline-l fw2 white-90 mb0 lh-title mreaves">
        {{ .Title | default .Site.Title }} {{ .Site.Params.year }}
      </h1>
      <h2 class="fw1 f4 f3-l white-80 measure-wide-l center mt3 mreaves">
        {{ .Site.Params.description }}
      </h2> 
      <h3 class="white-80 f2 mreaves">
        {{ .Site.Params.short_description }}
      </h3>
      <div class="tc-l grid">
          <div class="flex items-center white-80 ba b--white br4">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="64px" height="64px" viewBox="0 0 141 146">
                  <path d="M13.3,126.4V37.4c0-2.4,.9-4.5,2.6-6.3c1.7-1.8,3.8-2.6
                  6.2-2.6h8.8v-6.7c0-3.1,1.1-5.7,3.2-7.9c2.2-2.2,4.7-3.3,7.8-3.3h4.4c3,0
                  5.6,1.1,7.8,3.3c2.2,2.2,3.2,4.8,3.2,7.9v6.7h26.4v-6.7c0-3.1,1.1-5.7
                  3.2-7.9c2.2-2.2,4.7-3.3,7.8-3.3h4.4c3,0,5.6,1.1,7.8,3.3c2.2,2.2,3.2
                  4.8,3.2,7.9v6.7h8.8c2.4,0,4.4,.9,6.2,2.6c1.7,1.8,2.6,3.8,2.6,6.3v88.9c0
                  2.4-.9,4.5-2.6,6.3c-1.7,1.8-3.8,2.6-6.2,2.6H22.1c-2.4,0-4.4-.9-6.2-2.6C14.2,130.8
                  13.3,128.8,13.3,126.4z M22.1,126.4h96.8V55.2H22.1V126.4z M39.7,41.9c0,.6,.2,1.2
                  .6,1.6c.4,.4,.9,.6,1.6,.6h4.4c.6,0,1.2-.2,1.6-.6c.4-.4
                  .6-.9,.6-1.6v-20c0-.6-.2-1.2-.6-1.6c-.4-.4-.9-.6-1.6-.6h-4.4c-.6,0-1.2,.2-1.6
                  .6c-.4,.4-.6,1-.6,1.6V41.9z
                  M92.5,41.9c0,.6,.2,1.2,.6,1.6c.4,.4,.9,.6
                  1.6,.6h4.4c.6,0,1.2-.2,1.6-.6c.4-.4
                  .6-.9,.6-1.6v-20c0-.6-.2-1.2-.6-1.6c-.4-.4-.9-.6-1.6-.6h-4.4c-.6
                  0-1.2,.2-1.6,.6c-.4,.4-.6,1-.6,1.6V41.9z"/>
                  </svg>
            </div>
            <div class="flex-auto pl2">
              <h4 class="f3 mt1 mb3">When</h4>
              <span class="f4">{{ .Site.Params.date }}, {{ .Site.Params.year }}</span>
            </div>
          </div>
          <div class="flex items-center white-80 ba b--white br4">
            <div class="icon">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                  <g><path d="M500,10c-203,0-367.5,164.5-367.5,367.5C132.5,580.5,500,990,500,990s367.5-409.5,367.5-612.5C867.5,174.5,703,10,500,10z M179.6,382.2c0-179.5,143.4-325.1,320.4-325.1c176.9,0,320.4,145.5,320.4,325.1C820.4,561.8,500,924,500,924S179.6,561.8,179.6,382.2z"/><path d="M500,193.8c-84.6,0-153.1,68.5-153.1,153.1c0,84.6,68.6,153.1,153.1,153.1c84.6,0,153.1-68.6,153.1-153.1C653.1,262.3,584.6,193.8,500,193.8z M500,462.3c-62.4,0-113.1-50.6-113.1-113.1c0-62.4,50.6-113.1,113.1-113.1c62.5,0,113.1,50.6,113.1,113.1C613.1,411.7,562.5,462.3,500,462.3z"/></g>
                </svg>
            </div>
            <div class="flex-auto pl2">
              <h4 class="f3 mt1 mb3">Where</h4>
              <span class="f4">{{ .Site.Params.place_detail }}, {{ .Site.Params.place }}</span>
            </div>
          </div>
        </div>
    </div>
  </div>
</header>